




body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400px;
    line-height: 18px;
}

a {
	text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

li {
	text-decoration: none;
	list-style: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1 {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 18px;
	font-weight: 700;
	
}

h3 {
	color: #0073BB;
	font-weight: 14px;
	line-height: 21px;
	font-weight: 700;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

.button {
	color: #ffffff;
	background-color: #2770e9;
	border-radius: 3px;
	text-align: center;
}

.page-header {
	width: 100%;
	background-color: #eaf0f5;
	margin-top: 5px;
}


.top-menu {
	width: 100%;
	background: linear-gradient(135deg, #0073BB 50%, #eaf0f5 50%);
}

.top-menu__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.top-menu__logo {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	
}

.graficlogo {
	padding: 5px;
	max-width: 100%;
}

.top-menu__left {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.top-menu__phone {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.top-menu__phone i {
	margin-right: 4px;
}

.phone__link {
	display: inline-block;
	font-size: 14px;
	font-weight: 800;
	color: #0073BB;
}

.top-menu__email {
	display: flex;
	align-items: center;
}

.email__link {
	display: inline-block;
	font-size: 14px;
	font-weight: 800;
	font-style: italic;
	color: #0073BB;
}

.top-menu__email i {
	margin-right: 4px;
}

.main-nav {
	background-color: #a8c4da;
}

.main-nav__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}


@media (max-width: 991px) {
	.top-menu__logo {
		width: 50%;
	}
	.top-menu__wrapper {
		width: auto;
	}
	.phone__link,
	 .email__link {
		font-size: 12px;
	}
	.top-menu__logo-link img {
		width: 170px;
	}
}
@media ( max-width: 767px) {
	
	.top-menu__left {
	}
	
	.top-menu__wrapper {
		width: auto;
	}
	.top-menu__logo {
		width: 40%;
	}
	.top-menu__left {
	
		display: flex;
		justify-content: space-around;
		align-items: center;
		
	}
	.top-menu__phone {
		margin: 0;
		
	}
	.phone__link {
		font-size: 12px;
		font-weight: bold;
	}

	.menu-checkbox {
		font-size: 
	}

}

@media (max-width: 575px) {
	.top-menu__email {
		display: none;
	}
	.top-menu__wrapper {
		width: auto;
	}
	.top-menu__logo {
		width: 40%;
	}
	.top-menu__left {
		display: flex;
		justify-content: space-around;
		align-items: center;
		
	}
	.top-menu__phone {
		margin: 0;
		
	}
	.phone__link {
		font-size: 12px;
		font-weight: 400;
	}
}


.site-list {
	position: relative;
	padding: 0;
	margin: 0;
	
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	justify-content: space-around;
	background-color: #a8c4da;
}

.site-list__item {
	position: relative;
}



.site-list__link {
	display: inline-block;
	color: #111111;
	text-align: center;
	padding: 10px 20px 10px 20px;
}

.site-list__link i {
	margin-left: 5px;
	font-size: 12px;
}

.site-list__link-active {
	background-color: #0073BB;
	color: #ffffff; 
}

.site-list__link:hover {
	background-color: #0073BB;
	color: #ffffff;
}

.search__link i {
	font-size: 16px;
}


#menu-checkbox {
	display: none;
	}





.site-list {
	position: relative;
	padding: 0;
	margin: 0;
	
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	justify-content: space-around;
	background-color: #a8c4da;
}

.site-list__item {
	position: relative;
}



.site-list__link {
	display: inline-block;
	color: #111111;
	text-align: center;
	padding: 10px 20px 10px 20px;
}

.site-list__link i {
	margin-left: 5px;
	font-size: 12px;
}

.site-list__link-active {
	background-color: #0073BB;
	color: #ffffff; 
}

.site-list__link:hover {
	background-color: #0073BB;
	color: #ffffff;
}

.search__link i {
	font-size: 16px;
}


#menu-checkbox {
	display: none;
}

.site-list__item input {
	display: none;
}

@media (max-width: 991px) {
	.site-list__item a {
			font-size: 12px;
		}
		.site-list__link {
			padding: 7px 15px 7px 15px;
		}
}

@media ( max-width: 767px) {
.main-nav__wrapper {
		width: 50%;
		margin-right: 0;
		display: flex;
		position: relative;

	}
	.site-list {
		
		display: none;
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		right: 0;
		opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
  z-index: 100;
	}
	.site-list__item {
		width: 100%;
		display: block;
		font-size: 11px;

	}
	.site-list__item a {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		border-bottom: 1px solid #ffffff;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.toggle-nav__button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000000;
		z-index: 100;
	}
	.toggle-nav__button:after {
		content: "\f0c9";
		display: block;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		font-size: 24px;
		color: #0073BB; 
	}
	#menu-checkbox:checked ~ .site-list {
		opacity: 1;
  		transform: scaleY(1);
	}
			
}

@media (max-width: 575px) {
	.main-nav__wrapper {
		width: 100%;
		display: flex;
		position: relative;

	}
	.site-list {
		display: none;
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
		opacity: 0;
		  transform: scaleY(0);
		  transform-origin: 0 0;
		  transition: .5s ease-in-out;
		  z-index: 100;
	}
	.site-list__item {
		display: flex;
		width: 100%;
		display: block;
		font-size: 11px;
		justify-content: space-between;

	}
	.site-list__item a {
		
		width: 100%;
		
		align-items: center;
		border-bottom: 1px solid #ffffff;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.toggle-nav__button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000000;
		z-index: 100;
	}
	.toggle-nav__button:after {
		content: "\f0c9";
		display: block;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		font-size: 24px;
		color: #0073BB; 
	}
	#menu-checkbox:checked ~ .site-list {
		opacity: 1;
  		transform: scaleY(1);
	}
			
}


/*submenu*/
.main-nav__submenu {
	padding: 0;
	margin: 0;
  background: #c4d4e2;
  position: absolute;
  left: 0;
  top: 100%;
  text-transform: uppercase;
 visibility: hidden;
 z-index: -1;
  
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
}

.main-nav__submenu li {
	padding: 0;
	margin: 0;
}

.main-nav__submenu a {
	width: 90%;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
  color: #111111;
  padding: 7px 10px;
  
  text-align: center;
  white-space: nowrap;
 border-bottom: 1px solid #eaf0f5;
}

.main-nav__submenu a:hover {
	background-color: #0073BB;
	color: #ffffff;
}



.main-nav__submenu li:last-child a { border-bottom: none; }
.site-list > .site-list__item:hover .main-nav__submenu {
	visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: scaleY(1);
}

.site-list > .site-list__item > li:hover .main-nav__submenu-two {
  opacity: 1;
  transform: scaleY(1);
}


@media (max-width: 991px) {
	.main-nav__submenu a {
		width: 210px;
		font-size: 11px;
	}
}
@media screen and ( max-width: 767px) {
		.main-nav__submenu a {
		width: 210px;
		font-size: 11px;
	}
	.main-nav__submenu {
		display: none;
	}
}

@media (max-width: 575px) {
	.main-nav__submenu {
		display: none;
	}
	.main-nav__submenu a {
		width: 210px;
		font-size: 11px;
	

	
}


.form__search {
	display: none;
	width: 200px;
	height: 30px;
	background-color: #a9c9da;
	
	padding-top: 4px;
	text-align: center;

	position: absolute;
	top: 100%;
	right: 0;
}

.form__field {
	width: 70%;
	border: 1px solid  #0073BB;
}

.fa-search {
    color: #111111;
    font-size: 14px;
}

.form__submit-button {
	width: 25%;
	cursor: pointer;
	color: #ffffff;
	background-color: #0073BB;
	border: none;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
}

.search-show {
	display: block;
	z-index: 100;	
}


.page-main {
}

.page-main__slider {
	background-color: #eaf0f5;
	padding-bottom: 20px;
	margin-bottom: 40px;
}



/* Slideshow container */
.slideshow-container {
	  max-width: 1020px;
	  position: relative;
	  margin: auto;
	  padding-top: 40px;
	  padding-bottom: 40px;

}

/* Hide the images by default */
.mySlides {
 	display: none;
}

/* Next & previous buttons */
.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: white;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0073BB;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.slider__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	
}


.slider__text {
	position: absolute;

	top: 20%;
	left: 10%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}


.slider-controls {
	position: absolute;
	left: 50%;
	text-align: center;
	bottom: 0;

}

@media (max-width: 991px) {
	.slider__text {
		font-size: 18px;
		line-height: 28px;
		top: 15%;
		left: 7%;
		padding: 10px 5px 0 5px;
	}
	.dot {
		width: 10px;
		height: 10px;
	}
	.slideshow-container {
		width: 100%;
		padding-bottom: 20px;
		padding-top: 20px;
		
	}
	.page-main__slider {
		padding-bottom: 5px;
		margin-bottom: 40px;
	}
}
@media screen and ( max-width: 767px) {
	.slider__wrapper {
		width: auto;
	}
	.slider__text {
		font-size: 16px;
		line-height: 24px;
		top: 15%;
		left: 7%;
		padding: 10px 5px 0 5px;
	}

	.prev, .next {
		font-size: 12px;
		
	}

	.slideshow-container {
		width: 100%;
		padding-bottom: 0;
		
	}
	.dot {
		width: 10px;
		height: 10px;
	}

	.page-main__slider {
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	.slider-controls {
		display: none;
	}
}


@media (max-width: 575px) {

	.slider__wrapper{
		width: auto;
	}
	.slider__text {
		font-size: 12px;
		line-height: 18px;
		top: 15%;
		left: 7%;
		padding: 10px 5px 0 5px;
	}

	.prev, .next {
		font-size: 12px;
		
	}

	.slideshow-container {
		width: 100%;
		padding-bottom: 0;
		padding-top: 20px;
	}
	.dot {
		width: 10px;
		height: 10px;
	}

	.page-main__slider {
		margin-bottom: 0;
	}
	.slider-controls {
		display: none;
	}
}



.features__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}

.features__link {
	display: flex;
}

.features__title {
	
	color: #000000;
	position: relative;
	margin-bottom: 40px;
	line-height: 30px;
	border-bottom: 4px solid #0073BB;
}

.features__list {
	width: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.features__item {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	width: 235px;
	margin-bottom: 20px;
}

.features__icon {
	display: block;
}

.features__icon img {
	 width: 235px;
	 height: 150px;
	-webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
	
}

.features__icon img:hover {
  opacity: 0.8;
}

@media (max-width: 991px) {
	.features__title {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.features__item {
		width: 170px;
	}
	.features__icon img {
		width: 170px;
		height: 110px;
	}
	.features__link h3 {
		font-size: 14px;
		padding: 0;
		margin: 0;
	}
	.features__content p {
		font-size: 12px;
	}
	.features__item {
		margin-bottom: 10px;
	}
}


@media screen and ( max-width: 767px) {
		.features__wrapper {
		width: 100%;
	}
	.features__list {
		display: flex;
		flex-direction: row;
	}
	.features__title {
		font-size: 16px;
		
	}
	.features__item {
		width: 100%;
		flex-direction: row;
		margin-bottom: 10px;

	}
	.features__icon {
		margin-right: 10px;

	}

	.features__icon img {
	 width: 130px;
	 height: 90px;
	}
	.features__link h3 {
		font-size: 14px;
		padding: 0;
		margin: 0;
	}

	.features__content {
		width: 70%;
	}
	.features__content p {
		font-size: 12px;
	}
	.features__title {
		margin-bottom: 20px;
	}

}

@media (max-width: 575px) {
	.features__wrapper {
		width: 100%;
	}
	.features__list {
		display: flex;
		flex-direction: row;
	}
	.features__title {
		font-size: 14px;
		
	}
	.features__item {
		width: 100%;
		flex-direction: row;
		margin-bottom: 10px;

	}
	.features__icon {
		margin-right: 10px;

	}

	.features__icon img {
	 width: 130px;
	 height: 90px;
	}
	.features__link h3 {
		font-size: 12px;
		padding: 0;
		margin: 0;
	}

	.features__content {
		width: 70%;
	}
	.features__content p {
		font-size: 11px;
	}
	.features__title {
		margin-bottom: 20px;
	}

}

.products {
   margin-bottom: 40px;
}


.products__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

.products__title-link {
	display: flex;
}

.products__title {
	color: #000000;
	
	margin-bottom: 40px;
	line-height: 30px;
	border-bottom: 4px solid #0073BB;
}
	




/*slider-footer*/
/** page structure **/
#w {
  	width: 100%;
  	position: relative;
	min-width: 300px;
  
}


/** posts slider widget **/
.crsl-items {
  display: block;
  padding: 5px;
}

.crsl-item {
	display: flex;
	flex-direction: column;
	align-items: center;
  background: #f7f6ef;
  padding: 8px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.crsl-item:hover {
	box-shadow: 1px 1px 10px 2px rgba(0,121,194,0.5);
}

.crsl-item .thumbnail {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.crsl-item .thumbnail img {

	width: 200px;
	height: 100px;
	margin-bottom: 10px; 
  display: block; /* fix 1px image space http://stackoverflow.com/q/5804256/477958 */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
  opacity: 0.8;
}

/** posts slider nav **/
.slidernav {
 position: absolute;
  right: 0;
  top: -15%;
  width: 100px;
  display: flex;
  justify-content: space-between;
  
}

.slidernav a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
 }

 .slidernav i{
 	color: #2770e9; 
 	font-size: 26px;
 }
.slidernav i:hover,
.slidernav i:focus {
	color: #a8c4da;
	transition: all 0.3s linear
}

.slidernav i:active {
	color: #0073BB;
}

.products__link {
	padding: 6px 20px;
	margin-bottom: 20px;
}

.products__link:hover,
.products__link:focus {
	background-color: #a8c4da;
}

.products__link:active {
	background-color: #0073BB;
}



/*end slider*/

@media (max-width: 991px) {
	.products {
		margin-bottom: 20px;
	}
	.products__title {
		margin-bottom: 20px;
	}
	.products__title {
		font-size: 14px;
	}
}

@media screen and ( max-width: 767px) {
	.products {
		margin-bottom: 0;
	}
	.products__title {
		margin-bottom: 20px;
	}
	.products__wrapper {
		width: 100%;
	}
	.products__title {
		font-size: 16px;
	}
	.crsl-item {
		width: 100px;
		height: 100px;
	}
	.crsl-item .thumbnail img {
		width: 150px;
		height: 80px;
		margin-bottom: 0;
	}
	.products__name {
		font-size: 12px;
	}
	.products__link {
		margin-bottom: 10px;
	}
	.crsl-item .thumbnail {
		margin-bottom: 0;
	}
}
@media (max-width: 575px) {
	.products {
		margin-bottom: 0;
	}
	.products__title {
		margin-bottom: 20px;
	}
	.products__wrapper {
		width: 100%;
	}
	.products__title {
		font-size: 14px;
	}
	.crsl-item {
		width: 100px;
		height: 100px;
	}
	.crsl-item .thumbnail img {
		width: 150px;
		height: 80px;
		margin-bottom: 0;
	}
	.products__name {
		font-size: 12px;
	}
	.products__link {
		margin-bottom: 7px;
	}
	.crsl-item .thumbnail {
		margin-bottom: 0;
	}
}


/*news*/

.news__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;

}

.news__link {
	display: flex;
}

.news__title {
	color: #000000;
	position: relative;
	margin-bottom: 40px;
	line-height: 30px;
	border-bottom: 4px solid #0073BB;
}


.news__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.news__item {
	display: flex;
	margin-bottom: 20px;


}

.news__image {
	margin-right: 20px;
}

.news__content {
	display: flex;
	flex-direction: column;
	width: 600px;
	border-bottom: 1px solid #0073BB;
}

.news__content h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.news__left-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 5px;

}

.news__left-block b {
	display: block;
	color: #0073BB;
	
}

.news__button {
	display: inline-block;
	color: #ffffff;
	padding: 5px 10px;
	background-color: #2770e9;
	text-align: center;
	border-radius: 3px;
}

.news__button:hover,
.news__button:focus {
	background-color: #a8c4da; 
}

@media (max-width: 991px) {
	.news__title {
		margin-bottom: 20px;
	}
	.news__title {
		font-size: 14px;
	}
	.news__content h3 {
		font-size: 12px;
		line-height: 14px;
	}
	.news__content p {
		font-size: 11px;
		line-height: 18px;
	}
	.news__left-block b {
		font-size: 10px;
		padding: 2px 5px;
	}
	.news__button {
		font-size: 12px;
	}
}
@media ( max-width: 767px) {
	.news {
		
	}
	.news__title {
		margin-bottom: 20px;
	}
	.news__title {
		font-size: 16px;
	}
	.news__content h3 {
		font-size: 14px;
		line-height: 14px;
	}
	.news__content p {
		font-size: 12px;
	}
	.news__left-block b {
		font-size: 10px;
		
	}
	.news__button {
		font-size: 12px;
		padding: 2px 5px;
	}

}


@media (max-width: 575px) {
	.news {
		
	}
	.news__title {
		margin-bottom: 20px;
	}
	.news__title {
		font-size: 14px;
	}
	.news__content h3 {
		font-size: 12px;
		line-height: 14px;
	}
	.news__content p {
		display: none;
	}
	.news__left-block b {
		font-size: 10px;
		padding: 2px 5px;
	}
	.news__button {
		font-size: 12px;
	}
}

.info {
	margin-bottom: 40px;
}

.info__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}

.info__link {
	display: flex;
}
.info__title {
	color: #000000;
	
	margin-bottom: 40px;
	line-height: 30px;
	border-bottom: 4px solid #0073BB;
}

.info__text {
	-webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

.info__text p {
	padding-bottom: 5px;
}

@media (max-width: 991px) {
	.info {
		margin-bottom: 0;
	}
	.info__title {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.info__text p {
		font-size: 11px;
	}
	.info__text {
	-webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
	}
}

@media screen and ( max-width: 767px) {
	.info {
		margin-bottom: 0;
	}
	.info__wrapper {
		width: 100%;
	}
	.info__title {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.info__text p {
		font-size: 12px;
	}
	.info__text {
	-webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
	}
}

@media (max-width: 575px) {
	.info {
		margin-bottom: 0;
	}
	.info__wrapper {
		width: 100%;
	}
	.info__title {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.info__text p {
		font-size: 11px;
	}
	.info__text {
	-webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
	}
}

.partners__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	text-align: center;
	
	
}


.partners__title {
	text-align: center;
	background-image: url(../img/partners-backgraund.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 130%;	
}

.parthners__link {
	display: block;
	position: relative;

}




.partners__slider-list {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.partners__item {
	width: 25%;
}

.parthners__link {
	
	color: #000000;
	margin-bottom: 40px;
}

@media (max-width: 991px) {
	.parthners__link {
	margin-bottom: 20px;
	}
	.partners__title {
		font-size: 16px;
	}
}

@media screen and ( max-width: 767px) {
	.partners {
		display: ;
	}
	.partners__wrapper {
		width: 100%;
	}
	.parthners__link {
		margin-bottom: 20px;
		
	}
	.partners__title {
		font-size: 14px;
	}
}

@media (max-width: 575px) {
	.partners {
		display: ;
	}
	.partners__wrapper {
		width: 100%;
	
	}
	.parthners__link {
		margin-bottom: 20px;
		
	}
	.partners__title {
		font-size: 14px;
		background-size: 150%;
	}
}

.page-footer {
	margin-top: 40px;
	background-color: #323C8D;
	padding-bottom: 10px;
	padding-top: 10px;
}

.page-footer__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.page-footer__nav-list {
	padding: 0;
	margin: 0;
	display: flex;

}

.page-footer__item {
	margin-right: 10px;
}

.page-footer__submenu {
	padding: 0;
	margin: 0;
}

.page-footer__link {
	font-size: 13px;
	line-height: 16px;
	color: #ffffff;
}

.page-footer__submenu a {
	color: #ffffff;
	font-size: 11px;
}


.page-footer__left-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 0;
	
}

.contact-container {
	display: flex;
	flex-direction: column;
	margin-left: 0;


}

.page-footer__social {
	display: flex;

	width: 100px;
	font-size: 14px;
	margin-bottom: 10px;
	justify-content: space-between;
}
.page-footer__social i:hover,
.page-footer__social i:focus {
	color: #80a0ca;
}


.page-footer__social i {
	font-size: 24px;
	color: #ffffff;
	margin-right: 10px;
}

.page-footer__contact {
	display: flex;
	flex-direction: column;
}

.page-footer__contact a {
	color: #ffffff;
	margin-bottom: 10px;
}	

.page-footer__contact i {
	margin-right: 5px;
}

.page-footer__copyright {
	display: flex;
	flex-direction: column;
}

.page-footer__copyright span {
	color: #ffffff;
	margin-right: 4px;
	font-size: 12px;
}

.page-footer__copyright span:nth-child(3) {
	margin-right: 0;
}

@media (max-width: 991px) {
	.page-footer {
		margin-top: 20px;
	}
	.page-footer__link {
		font-size: 12px;
	}
	.page-footer__social i {
		font-size: 20px;
		margin-right: 5px;
	}
	.page-footer__submenu a {
		font-size: 11px;
	}
	.page-footer__social {
	width: 80px;
	margin-bottom: 5px;
	}
	.page-footer__item {
	margin-right: 5px;
	}
}

@media screen and ( max-width: 767px) {
	.page-footer__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page-footer {
		margin-top: 20px;
	}
	.page-footer__link {
		font-size: 14px;
	}
	.page-footer__submenu {
		display: none;
	}
	.page-footer__nav-list {
		width: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}

	.page-footer__left-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page-footer__social i {
		font-size: 24px;
	}
	.page-footer__social {
		width: 100px;
	}
	.page-footer__contact a {
		margin-bottom: 5px;
	}
	.page-footer__copyright {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 575px) {
	.page-footer__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page-footer {
		margin-top: 20px;
	}
	.page-footer__link {
		font-size: 12px;
	}
	.page-footer__submenu {
		display: none;
	}
	.page-footer__nav-list {
		width: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}

	.page-footer__left-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.page-footer__social i {
		font-size: 20px;
	}
	.page-footer__social {
		width: 80px;
	}
	.page-footer__contact a {
		margin-bottom: 5px;
	}
	.page-footer__copyright {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}



/*Company*/

.page-main__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}
.page-main__content {
	margin-bottom: 40px;
}

.page-main__content h2 {
	margin-top: 60px;
  	margin-bottom: 30px;

  	font-size: 24px;
  	line-height: 30px;
  	border-bottom: 2px solid #0073BB;
  	padding-bottom: 10px;
}

.page-main__content h3 {
	 margin-top: 60px;
	 margin-bottom: 30px;

	 font-size: 20px;
	 line-height: 24px;
}

.page-main__content p {
  	margin: 14px 0;
}

.page-main__content h2 + h3 {
  	margin-top: 30px;
}

.page-main__title {
	margin-top: 40px;
	margin-bottom: 20px;
}

@media screen and ( max-width: 767px) {
	.page-main__title {
		font-size: 16px;
	}
.page-main__content {
	margin-bottom: 40px;
}

.page-main__content h2 {
	margin-top: 20px;
  	margin-bottom: 20px;

  	font-size: 16px;
  	line-height: 24px;
  	border-bottom: 2px solid #0073BB;
  	padding-bottom: 10px;
}

.page-main__content h3 {
	 margin-top: 60px;
	 margin-bottom: 30px;

	 font-size: 16px;
	 line-height: 24px;
}

.page-main__content p {
  	margin: 14px 0;
}

.page-main__content h2 + h3 {
  	margin-top: 30px;
}

.page-main__title {
	margin-top: 40px;
	margin-bottom: 20px;
	}
}

@media (max-width: 575px) {
	.page-main__title {
		font-size: 16px;
	}
	.page-main__content {
	margin-bottom: 20px;
	}

.page-main__content h2 {
	margin-top: 20px;
  	margin-bottom: 20px;

  	font-size: 16px;
  	line-height: 30px;
  	padding-bottom: 0;
	}
.page-main__content h3 {
	 margin-top: 10px;
	 margin-bottom: 20px;

	 font-size: 14px;
	 line-height: 18px;
	}

.page-main__content p {
  	margin: 10px 0;
  	font-size: 12px;
	}

.page-main__content h2 + h3 {
  	margin-top: 10px;
	}

.page-main__title {
	margin-top: 20px;
	margin-bottom: 10px;
	}

}




.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  margin-bottom: 20px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 30px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -20px;

  width: 6px;
  height: 6px;

  background-color: #0073BB;

  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.breadcrumbs-current::after {
  display: none;
}

@media screen and ( max-width: 767px) {
	.breadcrumbs li {
		font-size: 12px;
	}
}

@media (max-width: 575px) {
	.breadcrumbs li {
		font-size: 12px;
	}
}

/*sidebar*/
.sidebar__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}



.sidebar__link {
	width: 190px;
	position: relative;
	display: inline-block;
	color: #111111;
	padding: 8px;
	background-color: #c4d4e2;
	border-bottom: 1px solid #ffffff;
}


.sidebar__link-active {
	background-color: #0073BB;
	color: #ffffff;
}

.sidebar__link i {
	position: absolute;
	right: 1%;
	top: 35%;
	margin-left: 10px;
}

.sidebar__link:hover,
.sidebar__link:focus,
.sidebar__link:active {
	background-color: #0073BB;
	color: #ffffff;
}

.page-main__container {
	display: flex;
}

@media screen and ( max-width: 767px) {
	.sidebar__link {
		padding: 5px;
		font-size: 12px;
	}
}

@media (max-width: 575px) {
	.sidebar {
		display: none;
	}
}
