




body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400px;
    line-height: 18px;
}

a {
	text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

li {
	text-decoration: none;
	list-style: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1 {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 18px;
	font-weight: 700;
	
}

h3 {
	color: #0079C2;
	font-weight: 14px;
	line-height: 21px;
	font-weight: 700;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

.button {
	color: #ffffff;
	background-color: #2770e9;
	border-radius: 3px;
	text-align: center;
}

.page-header {
	width: 100%;
	background-color: #eaf0f5;
	margin-top: 5px;
}


.top-menu {
	width: 100%;
	background: linear-gradient(135deg, #0070c2 50%, #eaf0f5 50%);
}

.top-menu__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.top-menu__logo {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	
}

.graficlogo {
	padding: 5px;
	max-width: 100%;
}

.top-menu__left {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.top-menu__phone {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: #0079c2;
	margin-right: 30px;
}

.top-menu__icon {
	max-width: 100%;
	padding-right: 7px;
}

.top-menu__email {
	
	display: flex;
	align-items: center;
	font-style: italic;
	color: #0079c2;
	font-family: 
	font-size: 16px;
	font-weight: 400;
	
}

.main-nav__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;

}

.site-list {
	position: relative;
	padding: 0;
	margin: 0;
	color: #111111;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	justify-content: space-around;
	background-color: #a8c4da;
}

.site-list__item {
	display: flex;
	align-items: center;
	position: relative;
}

.site-list__item a {
	display: inline-block;
	color: #111111;
	text-align: center;
	padding: 10px 20px 10px 20px;
}

.site-list__item a:hover,
.site-list__item a:focus,
.site-list__item i:hover {
	background-color: #3284b9;
	color: #ffffff;
}

.site-list__item a:hover .fa-angle-down {
	color: #ffffff;
}


.site-list__item a:hover .fa-search {
	color: #ffffff;
}

/*submenu*/
.main-nav__submenu {
	padding: 0;
	margin: 0;
  background: #c4d4e2;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.main-nav__submenu a {
	width: 250px;
	display: inline-block;
	font-size: 12px;
  color: #111111;
  text-transform: none;
  text-align: center;
 border-bottom: 1px solid #eaf0f5;
}

.main-nav__submenu a:hover {
	background-color: #5598c4;
	color: #ffffff;
}
.main-nav__submenu li:last-child a { border-bottom: none; }
.site-list > .site-list__item:hover .main-nav__submenu {
  opacity: 1;
  transform: scaleY(1);
}

.main-nav__submenu-two {
	padding: 0;
	margin: 0;
  background: #c4d4e2;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}

.site-list > .site-list__item > li:hover .main-nav__submenu-two {
  opacity: 1;
  transform: scaleY(1);
}

















/*end submenu*/

.fa-angle-down {
	margin-left: 3px;
	color: #111111;
    font-size: 14px;
}

.fa-search {
    color: #111111;
    font-size: 14px;
}

.form__search {
	display: none;
	position: absolute;
	height: 30px;
	top: 107%;
	right: 0%;
}

.form__submit-button {
	color: #ffffff;
	background-color: #0079c2;
	border: none;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
}
.search-show {
	display: block;
	z-index: 100;
}

.page-main {
	
}

.page-main__slider {
	background-color: #eaf0f5;
	margin-bottom: 40px;
}



/* Slideshow container */
.slideshow-container {
	  max-width: 1020px;
	  position: relative;
	  margin: auto;
	  padding-top: 40px;
	  padding-bottom: 40px;
}

/* Hide the images by default */
.mySlides {
 	display: none;
}

/* Next & previous buttons */
.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: white;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0079c2;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.slider__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	
}


.slider__text {
	position: absolute;

	top: 20%;
	left: 10%;
	
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 39px;
}


.slider-controls {
	position: absolute;
	left: 50%;
	text-align: center;
	bottom: 0;
}





.features__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}

.features__title {
	color: #000000;
	position: relative;
	margin-bottom: 40px;
}

.features__title:after {
	position: absolute;
    content: '';
    left: 0;
    top: 30px;
    width: 235px;
    height: 4px;
    background: #0079c2;
}

.features__list {

	margin: 0;
	padding: 0;
}

.features__container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
}

.features__item {
	display: flex;
	flex-direction: column;
	width: 235px;
	margin-left: 20px;
	margin-bottom: 20px;
}



.features__icon img {
	width: 235px;
	height: 130px;
	-webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
	
}

.features__icon img:hover {
  opacity: 0.8;
}


.features__link h3 {

}

.products {
   margin-bottom: 40px;
}


.products__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

.products__title {
	color: #000000;
	position: relative;
	margin-bottom: 40px;
	
}

.products__title:after {
	position: absolute;
    content: '';
    left: 0;
    top: 30px;
    width: 95px;
    height: 4px;
    background: #0079c2;
}


/*slider-footer*/
/** page structure **/
#w {
  	width: 100%;
  	position: relative;
	min-width: 300px;
  
}


/** posts slider widget **/
.crsl-items {
  display: block;
  padding: 5px;
}

.crsl-item {
	display: flex;
	flex-direction: column;
	align-items: center;
  background: #f7f6ef;
  padding: 8px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.crsl-item:hover {
	box-shadow: 1px 1px 10px 2px rgba(0,121,194,0.5);
}

.crsl-item .thumbnail {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.crsl-item .thumbnail img {

	width: 200px;
	height: 100px;
	margin-bottom: 10px; 
  display: block; /* fix 1px image space http://stackoverflow.com/q/5804256/477958 */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
  opacity: 0.8;
}

/** posts slider nav **/
.slidernav {
 position: absolute;
  right: 0;
  top: -15%;
  width: 100px;
  display: flex;
  justify-content: space-between;
  
}

.slidernav a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
 }

 .slidernav i{
 	color: #2770e9; 
 	font-size: 26px;
 }
.slidernav i:hover,
.slidernav i:focus {
	color: #a8c4da;
	transition: all 0.3s linear
}

.slidernav i:active {
	color: #0079c2;
}

.products__link {
	padding: 6px 20px;
	margin-bottom: 20px;
}

.products__link:hover,
.products__link:focus {
	background-color: #a8c4da;
}

.products__link:active {
	background-color: #0079c2;
}



/*end slider*/


/*news*/

.news__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;

}

.news__title {
	position: relative;
	color: #000000;
	margin-bottom: 40px;
}

.news__title:after {
	position: absolute;
    content: '';
    left: 0;
    top: 30px;
    width: 75px;
    height: 4px;
    background: #0079c2;
}

.news__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.news__item {
	display: flex;
	margin-bottom: 20px;


}

.news__image {
	margin-right: 20px;
}

.news__content {
	display: flex;
	flex-direction: column;
	width: 600px;
	border-bottom: 2px solid #80a0ca;
}

.news__content h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.news__left-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.news__left-block b {
	display: block;
	color: #ffffff;
	padding: 5px 10px;
	background-color: #80a0ca;
	text-align: center;
	border-radius: 3px;
}

.news__button {
	display: inline-block;
	color: #ffffff;
	padding: 5px 10px;
	background-color: #80a0ca;
	text-align: center;
	border-radius: 3px;
}

.news__button:hover,
.news__button:focus {
	background-color: #2770e9; 
}

.info {
	margin-bottom: 40px;
}

.info__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}

.info__title {
	position: relative;
	color: #000000;
	margin-bottom: 40px;
}

.info__title:after {
	position: absolute;
    content: '';
    left: 0;
    top: 30px;
    width: 100px;
    height: 4px;
    background: #0079c2;
}

.info__text {
	-webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

.info__text p {
	padding-bottom: 5px;
}

.partners__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	text-align: center;
}

.partners__title {
	text-align: center;
	margin-bottom: 40px;
	position: relative;
	
}

.partners__title:after {
	content: '';
	position: absolute;
	width: 45%;
	height: 20px;
	background-image: url(../img/partners-left.png);
	background-repeat: no-repeat;
	left: 0;
	top: 50%;
	}

.partners__title:before {
	content: '';
	position: absolute;
	width: 45%;
	height: 20px;
	background-image: url(../img/partners-right.png.);
	background-repeat: no-repeat;
	right: 0;
	top: 50%;
	}


.partners__slider-list {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.partners__item {
	width: 20%;
}

.parthners__link {
	color: #000000;
}

.page-footer {
	margin-top: 40px;
	background-color: #051855;
	padding-bottom: 10px;
	padding-top: 10px;
}

.page-footer__wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}

.page-footer__nav-list {
	padding: 0;
	margin: 0;
	display: flex;

}

.page-footer__item {
	margin-right: 10px;
}

.page-footer__submenu {
	padding: 0;
	margin: 0;
}

.page-footer__link {
	font-size: 13px;
	line-height: 16px;
	color: #ffffff;
}

.page-footer__submenu a {
	color: #ffffff;
	font-size: 11px;
}


.page-footer__left-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-container {
	display: flex;
	justify-content: space-between;

}

.page-footer__social {
	display: flex;
	justify-content: space-between;
	width: 100px;
	font-size: 14px;
}
.page-footer__social i:hover,
.page-footer__social i:focus {
	color: #80a0ca;
}


.page-footer__social i {
	font-size: 24px;
	color: #ffffff;
}

.page-footer__contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	text-align: center;
	}

.page-footer__contact span {
	color: #ffffff;
	margin-bottom: 20px;
}	

.page-footer__contact i {
	margin-right: 3px;
}

.page-footer__copyright {
	display: flex;
}

.page-footer__copyright span {
	color: #ffffff;
	margin-left: 6px;